sample/Decision_NextBestOffer.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:ns2="http://smutbank.edu.sg/schemas/Decision_NextBestOfferList/ReadResponse/PromotionIDs.xsd" xmlns:ns1="http://smutbank.smu.edu.sg/schemas/serviceResponseHeader" xmlns:ns4="http://smutbank.smu.edu.sg/schemas/Decision_NextBestOffer/Read.xsd" xmlns:ns3="http://smutbank.smu.edu.sg/schemas/Decision_NextBestOffer/Assert.xsd" xmlns:tns="http://smubank.smu.edu.sg/Party/Login/Mobile2FA" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns0="http://smutbank.smu.edu.sg/schemas/serviceRequestMessage/" xmlns:jms="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap1="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:jndi="http://www.tibco.com/namespaces/ws/2004/soap/apis/jndi" name="Untitled" targetNamespace="http://smubank.smu.edu.sg/Party/Login/Mobile2FA">
    <wsdl:types>
        <xs:schema xmlns="http://smutbank.smu.edu.sg/schemas/serviceResponseHeader" targetNamespace="http://smutbank.smu.edu.sg/schemas/serviceResponseHeader" elementFormDefault="unqualified" attributeFormDefault="unqualified">
            <xs:complexType name="ServiceRespHeader">
                <xs:sequence>
                    <xs:element ref="ns1:GlobalErrorID"/>
                    <xs:element ref="ns1:ErrorText"/>
                    <xs:element ref="ns1:ErrorDetails"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="ErrorDetails" type="xs:string"/>
            <xs:element name="ErrorText" type="xs:string"/>
            <xs:element name="GlobalErrorID" type="xs:string"/>
            <xs:element name="ServiceRespHeader" type="ns1:ServiceRespHeader"/>
        </xs:schema>
        <xs:schema xmlns="http://smutbank.smu.edu.sg/schemas/Decision_NextBestOffer/Assert.xsd" targetNamespace="http://smutbank.smu.edu.sg/schemas/Decision_NextBestOffer/Assert.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:complexType name="Decision_NextBestOffer_Assert">
                <xs:sequence>
                    <xs:element ref="ns3:customerID"/>
                    <xs:element ref="ns3:location" minOccurs="0"/>
                    <xs:element ref="ns3:merchantID" minOccurs="0"/>
                    <xs:element ref="ns3:age" minOccurs="0"/>
                    <xs:element ref="ns3:gender" minOccurs="0"/>
                    <xs:element ref="ns3:totalDeposit" minOccurs="0"/>
                    <xs:element ref="ns3:totalLoans" minOccurs="0"/>
                    <xs:element ref="ns3:lastTransAmt" minOccurs="0"/>
                    <xs:element ref="ns3:lastTransType" minOccurs="0"/>
                    <xs:element ref="ns3:newAccOpening" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="Decision_NextBestOffer_Assert" type="ns3:Decision_NextBestOffer_Assert"/>
            <xs:element name="age" type="xs:int"/>
            <xs:element name="customerID" type="xs:string"/>
            <xs:element name="gender">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="M"/>
                        <xs:enumeration value="F"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="lastTransAmt" type="xs:int"/>
            <xs:element name="lastTransType" type="xs:string"/>
            <xs:element name="location" type="xs:string"/>
            <xs:element name="merchantID" type="xs:string"/>
            <xs:element name="newAccOpening">
                <xs:simpleType>
                    <xs:restriction base="xs:int">
                        <xs:enumeration value="0"/>
                        <xs:enumeration value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="totalDeposit" type="xs:int"/>
            <xs:element name="totalLoans" type="xs:int"/>
        </xs:schema>
        <xs:schema xmlns:tns="http://smutbank.smu.edu.sg/schemas/serviceRequestMessage/" targetNamespace="http://smutbank.smu.edu.sg/schemas/serviceRequestMessage/" elementFormDefault="unqualified" attributeFormDefault="unqualified">
            <xs:complexType name="Content">
                <xs:sequence>
                    <xs:element ref="tns:ServiceReqHeader"/>
                    <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" namespace="##any"/>
                </xs:sequence>
                <xs:anyAttribute processContents="lax" namespace="##any"/>
            </xs:complexType>
            <xs:complexType name="ServiceReqHeader">
                <xs:sequence>
                    <xs:element name="ConsumerID" type="xs:string"/>
                    <xs:element name="TransactionID" type="xs:string"/>
                    <xs:element name="RequestUUID" type="xs:string"/>
                    <xs:element name="OperationName" type="xs:string"/>
                    <xs:element name="Priority" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="Content" type="tns:Content"/>
            <xs:element name="ServiceReqHeader" type="tns:ServiceReqHeader"/>
        </xs:schema>
        <xs:schema xmlns="http://smutbank.smu.edu.sg/schemas/Decision_NextBestOffer/Read.xsd" targetNamespace="http://smutbank.smu.edu.sg/schemas/Decision_NextBestOffer/Read.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:complexType name="PromotionDetails">
                <xs:sequence>
                    <xs:element ref="ns4:promotionID"/>
                    <xs:element ref="ns4:title"/>
                    <xs:element ref="ns4:category"/>
                    <xs:element ref="ns4:subCategory" minOccurs="0"/>
                    <xs:element ref="ns4:expiryDate"/>
                    <xs:element ref="ns4:originalPrice" minOccurs="0"/>
                    <xs:element ref="ns4:discountedPrice" minOccurs="0"/>
                    <xs:element ref="ns4:discount" minOccurs="0"/>
                    <xs:element ref="ns4:description"/>
                    <xs:element ref="ns4:pictureURL" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="PromotionDetails" type="ns4:PromotionDetails"/>
            <xs:element name="category" type="xs:string"/>
            <xs:element name="description" type="xs:string"/>
            <xs:element name="discount" type="xs:double"/>
            <xs:element name="discountedPrice" type="xs:double"/>
            <xs:element name="expiryDate" type="xs:dateTime"/>
            <xs:element name="originalPrice" type="xs:double"/>
            <xs:element name="pictureURL" type="xs:string"/>
            <xs:element name="promotionID" type="xs:int"/>
            <xs:element name="subCategory" type="xs:string"/>
            <xs:element name="title" type="xs:string"/>
        </xs:schema>
        <xs:schema xmlns="http://smutbank.edu.sg/schemas/Decision_NextBestOfferList/ReadResponse/PromotionIDs.xsd" targetNamespace="http://smutbank.edu.sg/schemas/Decision_NextBestOfferList/ReadResponse/PromotionIDs.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:complexType name="PromotionIDs">
                <xs:sequence>
                    <xs:element ref="ns2:promotionID" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="PromotionIDs" type="ns2:PromotionIDs"/>
            <xs:element name="promotionID" type="xs:string"/>
        </xs:schema>
    </wsdl:types>
    <wsdl:service name="Decision_NextBestOffer">
        <wsdl:port name="Decision_NextBestOfferListJMSEndpoint" binding="tns:Decision_NextBestOfferListJMSEndpointBinding">
            <soap:address location=""/>
            <jndi:context>
                <jndi:property name="java.naming.factory.initial" type="java.lang.String">com.tibco.tibjms.naming.TibjmsInitialContextFactory</jndi:property>
                <jndi:property name="java.naming.provider.url" type="java.lang.String">tibjmsnaming://10.0.106.169:5678</jndi:property>
            </jndi:context>
            <jms:connectionFactory>SMUBankQueueConnectionFactory</jms:connectionFactory>
            <jms:targetAddress destination="queue">decision.endpoint</jms:targetAddress>
        </wsdl:port>
        <wsdl:port name="Decision_NextBestOfferJMSEndpoint" binding="tns:Decision_NextBestOfferJMSEndpointBinding">
            <soap:address location=""/>
            <jndi:context>
                <jndi:property name="java.naming.factory.initial" type="java.lang.String">com.tibco.tibjms.naming.TibjmsInitialContextFactory</jndi:property>
                <jndi:property name="java.naming.provider.url" type="java.lang.String">tibjmsnaming://10.0.106.169:5678</jndi:property>
            </jndi:context>
            <jms:connectionFactory>SMUBankQueueConnectionFactory</jms:connectionFactory>
            <jms:targetAddress destination="queue">decision.endpoint</jms:targetAddress>
        </wsdl:port>
        <wsdl:port name="Decision_NextBestOfferListHTTPEndpoint" binding="tns:Decision_NextBestOfferListHTTPEndpointBinding">
            <soap:address location="http://10.0.106.169:10101/Decision_NextBestOfferList.serviceagent/Decision_NextBestOfferListHTTPEndpoint"/>
        </wsdl:port>
        <wsdl:port name="Decision_NextBestOfferHTTPEndpoint" binding="tns:Decision_NextBestOfferHTTPEndpointBinding">
            <soap:address location="http://10.0.106.169:10101/Decision_NextBestOffer.serviceagent/Decision_NextBestOfferHTTPEndpoint"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="Decision_NextBestOfferList">
        <wsdl:operation name="Decision_NextBestOfferList_Read">
            <wsdl:input message="tns:Decision_NextBestOfferList_Read"/>
            <wsdl:output message="tns:Decision_NextBestOfferList_ReadResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="Decision_NextBestOffer">
        <wsdl:operation name="Decision_NextBestOffer_Assert">
            <wsdl:input message="tns:Decision_NextBestOffer_Assert"/>
            <wsdl:output message="tns:Decision_NextBestOffer_AssertResponse"/>
        </wsdl:operation>
        <wsdl:operation name="Decision_NextBestOffer_Read">
            <wsdl:input message="tns:Decision_NextBestOffer_Read"/>
            <wsdl:output message="tns:Decision_NextBestOffer_ReadResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="Decision_NextBestOfferListJMSEndpointBinding" type="tns:Decision_NextBestOfferList">
        <soap:binding style="rpc" transport="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS"/>
        <jms:binding messageFormat="Text"/>
        <wsdl:operation name="Decision_NextBestOfferList_Read">
            <soap:operation style="rpc" soapAction="/Decision_NextBestOffer.serviceagent/Decision_NextBestOfferListJMSEndpoint/Decision_NextBestOfferList_Read"/>
            <wsdl:input>
                <soap:body use="literal" parts="ServiceReqHeader customerID"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ServiceRespHeader promotionIDs"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="Decision_NextBestOfferJMSEndpointBinding" type="tns:Decision_NextBestOffer">
        <soap:binding style="rpc" transport="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS"/>
        <jms:binding messageFormat="Text"/>
        <wsdl:operation name="Decision_NextBestOffer_Assert">
            <soap:operation style="rpc" soapAction="/Decision_NextBestOffer.serviceagent/Decision_NextBestOfferJMSEndpoint/Decision_NextBestOffer_Assert"/>
            <wsdl:input>
                <soap:body use="literal" parts="ServiceReqHeader NextBestOffer_Assert"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ServiceRespHeader promotionID"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Decision_NextBestOffer_Read">
            <soap:operation style="rpc" soapAction="/Decision_NextBestOffer.serviceagent/Decision_NextBestOfferJMSEndpoint/Decision_NextBestOffer_Read"/>
            <wsdl:input>
                <soap:body use="literal" parts="ServiceReqHeader promotionID"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ServiceRespHeader PromotionDetails"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="Decision_NextBestOfferListHTTPEndpointBinding" type="tns:Decision_NextBestOfferList">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Decision_NextBestOfferList_Read">
            <soap:operation style="rpc" soapAction="/Decision_NextBestOffer.serviceagent/Decision_NextBestOfferListHTTPEndpoint/Decision_NextBestOfferList_Read"/>
            <wsdl:input>
                <soap:body use="literal" parts="ServiceReqHeader customerID"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ServiceRespHeader promotionIDs"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="Decision_NextBestOfferHTTPEndpointBinding" type="tns:Decision_NextBestOffer">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Decision_NextBestOffer_Assert">
            <soap:operation style="rpc" soapAction="/Decision_NextBestOffer.serviceagent/Decision_NextBestOfferHHTPEndpoint/Decision_NextBestOffer_Assert"/>
            <wsdl:input>
                <soap:body use="literal" parts="ServiceReqHeader NextBestOffer_Assert"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ServiceRespHeader promotionID"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Decision_NextBestOffer_Read">
            <soap:operation style="rpc" soapAction="/Decision_NextBestOffer.serviceagent/Decision_NextBestOfferHHTPEndpoint/Decision_NextBestOffer_Read"/>
            <wsdl:input>
                <soap:body use="literal" parts="ServiceReqHeader promotionID"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="ServiceRespHeader PromotionDetails"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="Decision_NextBestOfferList_Read">
        <wsdl:part name="ServiceReqHeader" type="ns0:ServiceReqHeader"/>
        <wsdl:part name="customerID" type="xs:string"/>
    </wsdl:message>
    <wsdl:message name="Decision_NextBestOfferList_ReadResponse">
        <wsdl:part name="ServiceRespHeader" type="ns1:ServiceRespHeader"/>
        <wsdl:part name="promotionIDs" type="ns2:PromotionIDs"/>
    </wsdl:message>
    <wsdl:message name="Decision_NextBestOffer_Assert">
        <wsdl:part name="ServiceReqHeader" type="ns0:ServiceReqHeader"/>
        <wsdl:part name="NextBestOffer_Assert" type="ns3:Decision_NextBestOffer_Assert"/>
    </wsdl:message>
    <wsdl:message name="Decision_NextBestOffer_AssertResponse">
        <wsdl:part name="ServiceRespHeader" type="ns1:ServiceRespHeader"/>
        <wsdl:part name="promotionID" type="xs:string"/>
    </wsdl:message>
    <wsdl:message name="Decision_NextBestOffer_Read">
        <wsdl:part name="ServiceReqHeader" type="ns0:ServiceReqHeader"/>
        <wsdl:part name="promotionID" type="xs:string"/>
    </wsdl:message>
    <wsdl:message name="Decision_NextBestOffer_ReadResponse">
        <wsdl:part name="ServiceRespHeader" type="ns1:ServiceRespHeader"/>
        <wsdl:part name="PromotionDetails" type="ns4:PromotionDetails"/>
    </wsdl:message>
</wsdl:definitions>